div h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 200%;
  border-right: 4px solid black;
  overflow: hidden;
  white-space: nowrap;
}



#img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: move_left 50s infinite;
  -moz-animation: move_left 50s infinite;
  -o-animation: move_left 50s infinite;
  animation: move_left 50s infinite;

}

@keyframes type {
  0% { width: 0ch }
  100% { width: 40ch}
}
