div h2 {
  text-align: center;
  font-family: sans-serif;
  border-right: 4px solid black;
  overflow: hidden;
  white-space: nowrap;
}



#img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: move_left 50s infinite;
  -moz-animation: move_left 50s infinite;
  -o-animation: move_left 50s infinite;
  animation: move_left 50s infinite;

}

